openapi: 3.0.1
info:
  contact:
    name: Loopring@Loopring.com
  description: LightCone DEX function interpretation
  license:
    name: license Loopring
    url: https://loopring.org
  termsOfService: http://Loopring.com
  title: LightCone 2.0 API Documentation
  version: "1.0"
servers:
- url: //uat2.loopring.io/
tags:
- name: Loopring DEX Restful API
- name: LightCone WebSocket API
paths:
  /api/v2/timestamp:
    get:
      description: Returns the relayer's current time in millisecond
      operationId: getTimestampV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTimestampV2Response'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get relayer's current time
      tags:
      - Loopring DEX Restful API
  /api/v2/exchange/tokens:
    get:
      description: "Returns the configurations of all supported tokens, including\
        \ Ether."
      operationId: getTokensV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenInfoResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get token configurations
      tags:
      - Loopring DEX Restful API
  /api/v2/user/offchainFee:
    get:
      description: Returns the fee amount
      operationId: getBusinessFee2V2
      parameters:
      - description: Account ID
        example: 0
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: Off-chain request type
        example: 1
        in: query
        name: requestType
        required: true
        schema:
          format: int32
          type: integer
      - description: The token to withdraw
        example: LRC
        in: query
        name: tokenSymbol
        schema:
          type: string
      - description: The amount to withdraw
        example: "10000000000"
        in: query
        name: amount
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffchainFee2Response'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Query current fee amount
      tags:
      - Loopring DEX Restful API
  /api/v2/exchange/markets:
    get:
      description: Returns the configurations of all supported markets (trading pairs)
      operationId: getMarketsV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketInfoResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get market configurations
      tags:
      - Loopring DEX Restful API
  /api/v2/transfer:
    post:
      description: Submit internal transfer
      operationId: submitTransferV2
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OriginTransferRequest'
        description: Submit internal transfer post message body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOffChainRequestResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
      summary: Submit internal transfer
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v2/account:
    get:
      description: Returns data associated with the user's exchange account.
      operationId: getAccountV2
      parameters:
      - description: Ethereum address
        example: 0x123456
        in: query
        name: owner
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "101001":
          content: {}
          description: The address was not found
        "101002":
          content: {}
          description: User not found
      summary: Query user information
      tags:
      - Loopring DEX Restful API
    post:
      description: "Updates the EDDSA key associated with the specified account, making\
        \ the previous one invalid in the process."
      operationId: submitUpdateAccountV2
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
        description: api.submitUpdateAccount.implicit.value
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOffChainRequestResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
      summary: Update account EDDSA key
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v2/orders:
    delete:
      description: api.CancelOrders.notes
      operationId: cancelOrdersV2
      parameters:
      - description: request.cancelOrders.accountId
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
      - description: request.cancelOrders.orderHash
        example: "13375450901292179417154974849571793069911517354720397125027633242680470075859"
        in: query
        name: orderHash
        schema:
          type: string
      - description: request.cancelOrders.clientOrderId
        example: "20200318000000001010"
        in: query
        name: clientOrderId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrdersResponseData'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104001":
          content: {}
          description: Empty ApiKey
        "102117":
          content: {}
          description: No orders to cancel
        "102118":
          content: {}
          description: "Failed to cancel orders, please try again later"
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: api.CancelOrders.value
      tags:
      - Loopring DEX Restful API
    get:
      description: Get a list of orders satisfying certain criteria.
      operationId: getOrdersV2
      parameters:
      - description: Account ID
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: Trading pair
        example: LRC-ETH
        in: query
        name: market
        schema:
          type: string
      - description: Lower bound of order's creation timestamp in millisecond
        example: 1567053142000
        in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - description: Upper bound of order's creation timestamp in millisecond
        example: 1567053242000
        in: query
        name: end
        schema:
          default: 0
          format: int64
          type: integer
      - description: '"BUY" or "SELL"'
        example: BUY
        in: query
        name: side
        schema:
          enum:
          - BUY
          - SELL
          type: string
      - description: 'Order status. You can specify one of the following values:'
        example: "processing,processed"
        in: query
        name: status
        schema:
          enum:
          - processing
          - processed
          - failed
          - cancelled
          - cancelling
          - expired
          type: string
      - description: Limit of orders (default 50)
        example: 50
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      - description: Offset of orders (default 0)
        example: 0
        in: query
        name: offset
        schema:
          default: 0
          format: int64
          type: integer
      - description: request.getOrders.orderTypes
        example: LIMIT_ORDER
        in: query
        name: orderTypes
        schema:
          enum:
          - LIMIT_ORDER
          - MAKER_ONLY
          - TAKER_ONLY
          - AMM
          type: string
      - description: field.SubmitOrderRequest.tradeChannel
        example: ORDER_BOOK
        in: query
        name: tradeChannels
        schema:
          enum:
          - ORDER_BOOK:0
          - AMM_POOL:1
          - MIXED:2
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "107001":
          content: {}
          description: User ID cannot be empty
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get multiple orders
      tags:
      - Loopring DEX Restful API
  /api/v3/hebao/getAvailableBroker:
    get:
      operationId: getAvailableBrokerV3Hebao
      parameters:
      - in: query
        name: organization
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v2/depth:
    get:
      description: Returns the order book of a given trading pair.
      operationId: getDepthV2
      parameters:
      - description: The ID of a trading pair.
        example: LRC-ETH
        in: query
        name: market
        required: true
        schema:
          type: string
      - description: "Order book aggregation level, larger value means further price\
          \ aggregation."
        example: 2
        in: query
        name: level
        required: true
        schema:
          format: int32
          type: integer
      - description: Maximum numbers of bids/asks.
        example: 50
        in: query
        name: limit
        schema:
          default: 50
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetDepthResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "108000":
          content: {}
          description: Unsupported market
        "108001":
          content: {}
          description: Unsupported depth level
      summary: Get market orderbook
      tags:
      - Loopring DEX Restful API
  /api/v2/mix/depth:
    get:
      description: Returns the order book of a given trading pair.
      operationId: getMixedDepthV2
      parameters:
      - description: The ID of a trading pair.
        example: LRC-ETH
        in: query
        name: market
        required: true
        schema:
          type: string
      - description: "Order book aggregation level, larger value means further price\
          \ aggregation."
        example: 2
        in: query
        name: level
        required: true
        schema:
          format: int32
          type: integer
      - description: Maximum numbers of bids/asks.
        example: 50
        in: query
        name: limit
        schema:
          default: 50
          format: int32
          type: integer
      - description: request.getDepth.showOverlap
        example: false
        in: query
        name: showOverlap
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetDepthResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "108000":
          content: {}
          description: Unsupported market
        "108001":
          content: {}
          description: Unsupported depth level
      summary: Get market orderbook
      tags:
      - Loopring DEX Restful API
  /api/v2/ticker:
    get:
      description: "Gets a markets ticker. Generally speaking, a ticker in Loopring\
        \ consists in data from the market taken last 24Hours."
      operationId: getTickerV2
      parameters:
      - description: "Market pair, support multiple markets"
        example: "LRC-ETH,LRC-USDT"
        in: query
        name: market
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetTickerResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
      summary: Get market ticker
      tags:
      - Loopring DEX Restful API
  /api/v2/mix/ticker:
    get:
      description: "Gets a markets ticker. Generally speaking, a ticker in Loopring\
        \ consists in data from the market taken last 24Hours."
      operationId: getMixedTickerV2
      parameters:
      - description: "Market pair, support multiple markets"
        example: "LRC-ETH,LRC-USDT"
        in: query
        name: market
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetTickerResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
      summary: Get market ticker
      tags:
      - Loopring DEX Restful API
  /api/v2/price:
    get:
      description: "Fetches, for all the tokens supported by Loopring, their fiat\
        \ price."
      operationId: getPriceV2
      parameters:
      - description: request.getPrice.legal
        example: USD
        in: query
        name: legal
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPriceV2Response'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get token fiat prices
      tags:
      - Loopring DEX Restful API
  /api/v2/trade:
    get:
      description: Query trades with specified market
      operationId: getMarketTradeV2
      parameters:
      - description: Single market to query
        example: LRC-USDT
        in: query
        name: market
        required: true
        schema:
          type: string
      - description: Number of queries
        example: 20
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketTradesV2Response'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get market recent trades
      tags:
      - Loopring DEX Restful API
  /api/v2/candlestick:
    get:
      description: Return the candlestick data of a given trading pair.
      operationId: getCandlestickV2
      parameters:
      - description: "Trading pair ID, multi-market is not supported"
        example: LRC-ETH
        in: query
        name: market
        required: true
        schema:
          type: string
      - description: "Candlestick interval, Supported values are: 1min, 5min, 15min,\
          \ 30min, 1hr, 2hr, 4hr, 12hr, 1d, 1w"
        example: 5min
        in: query
        name: interval
        required: true
        schema:
          type: string
      - description: Start time
        example: 1584479105000
        in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - description: End time
        example: 1584565505000
        in: query
        name: end
        schema:
          default: 0
          format: int64
          type: integer
      - description: "Number of data points. If more data points are available, the\
          \ API will only return the first 'limit' data points."
        example: 120
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCandlestickResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
      summary: Get market candlestick
      tags:
      - Loopring DEX Restful API
  /api/v2/mix/candlestick:
    get:
      description: Return the candlestick data of a given trading pair.
      operationId: getMixedCandlestickV2
      parameters:
      - description: "Trading pair ID, multi-market is not supported"
        example: LRC-ETH
        in: query
        name: market
        required: true
        schema:
          type: string
      - description: "Candlestick interval, Supported values are: 1min, 5min, 15min,\
          \ 30min, 1hr, 2hr, 4hr, 12hr, 1d, 1w"
        example: 5min
        in: query
        name: interval
        required: true
        schema:
          type: string
      - description: Start time
        example: 1584479105000
        in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - description: End time
        example: 1584565505000
        in: query
        name: end
        schema:
          default: 0
          format: int64
          type: integer
      - description: "Number of data points. If more data points are available, the\
          \ API will only return the first 'limit' data points."
        example: 120
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCandlestickResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
      summary: Get market candlestick
      tags:
      - Loopring DEX Restful API
  /api/v3/eth/nonce:
    get:
      description: Returns the next nonce of the Ethereum address associated with
        the user's account
      operationId: getEthNonceV3
      parameters:
      - description: Ethereum address
        example: 0x0000000000000000000000000000000000000000
        in: query
        name: owner
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEthNonceV2Response'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104205":
          content: {}
          description: Error in internal request
        "104208":
          content: {}
          description: Unknown error in Ethereum node
      summary: Get user's next Ethereum nonce
      tags:
      - Loopring DEX Restful API
  /api/v3/eth/balances:
    get:
      description: Returns user's Ether balance on Ethereum mainnet (not the Ether
        balance on Loopring.io)
      operationId: getEthBalanceV3
      parameters:
      - description: Ethereum address
        example: 0x0000000000000000000000000000000000000000
        in: query
        name: owner
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEthBalancesV2Response'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104205":
          content: {}
          description: Error in internal request
        "104208":
          content: {}
          description: Unknown error in Ethereum node
      summary: Get user's Ether balance on Ethereum mainnet
      tags:
      - Loopring DEX Restful API
  /api/v3/eth/tokenBalances:
    get:
      description: Returns user's token balance on Ethereum mainnet (not token's balance
        on Loopring.io)
      operationId: getTokenBalanceV3
      parameters:
      - description: Ethereum address
        example: 0x0000000000000000000000000000000000000000
        in: query
        name: owner
        required: true
        schema:
          type: string
      - description: Token's ERC20 address
        example: 0x0000000000000000000000000000000000000000
        in: query
        name: token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenBalancesV2Response'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104205":
          content: {}
          description: Error in internal request
        "104208":
          content: {}
          description: Unknown error in Ethereum node
      summary: Get user token balance
      tags:
      - Loopring DEX Restful API
  /api/v3/eth/allowances:
    get:
      description: Returns the allowance of a given token that the user has authorized
        for Loopring.io
      operationId: getAllowanceV3
      parameters:
      - description: Ethereum address
        example: 0x0000000000000000000000000000000000000000
        in: query
        name: owner
        required: true
        schema:
          type: string
      - description: The token address to query
        example: 0x0000000000000000000000000000000000000000
        in: query
        name: token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllowancesV2Response'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104205":
          content: {}
          description: Error in internal request
        "104208":
          content: {}
          description: Unknown error in Ethereum node
      summary: Get user token allowance
      tags:
      - Loopring DEX Restful API
  /api/v3/eth/recommendedGasPrice:
    get:
      description: Get recommended gas price in Gwei.
      operationId: getRecommendedGasPriceV3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecommendedGasPriceResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "105001":
          content: {}
          description: Failed to get recommended gas
      summary: Get recommended gas price
      tags:
      - Loopring DEX Restful API
  /api/v2/apiKey:
    get:
      description: Get the ApiKey associated with the user's account.
      operationId: getApiKeyV2
      parameters:
      - description: AccountID
        example: 10
        in: query
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeyResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "101002":
          content: {}
          description: User not found
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
        "104004":
          content: {}
          description: No signature information provided
        "104005":
          content: {}
          description: Wrong signature information
      summary: Get user ApiKey
      tags:
      - Loopring DEX Restful API
    post:
      description: Change the ApiKey associated with the user's account. The current
        ApiKey must be provided as the value of the X-API-KEY HTTP header.
      operationId: applyApiKeyV2
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetApiKeyRequest'
        description: api.applyApiKey.implicit.value
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeyResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "101002":
          content: {}
          description: User not found
        "100001":
          content: {}
          description: Invalid argument
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
        "104004":
          content: {}
          description: No signature information provided
        "104005":
          content: {}
          description: Wrong signature information
      summary: Update user's ApiKey
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v2/storageId:
    get:
      description: "Fetches the next order id for a given sold token. If the need\
        \ arises to repeatedly place orders in a short span of time, the order id\
        \ can be initially fetched through the API and then managed locally. Each\
        \ new order id can be derived from adding 2 to the last one"
      operationId: getNextStorageIdV2
      parameters:
      - description: Looprings account identifier
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
      - description: request.getNextStorageId.tokenSId
        example: 0
        in: query
        name: tokenSId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNextStorageIdResponseData'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get next storage ID
      tags:
      - Loopring DEX Restful API
  /api/v2/order:
    get:
      description: Get the details of an order based on order hash.
      operationId: getOrderDetailV2
      parameters:
      - description: "Account ID, could be empty if hash query is presented."
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
      - description: Order hash
        example: "13375450901292179417154974849571793069911517354720397125027633242680470075859"
        in: query
        name: orderHash
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderDetailResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "107001":
          content: {}
          description: User ID cannot be empty
        "107002":
          content: {}
          description: Order Hash cannot be empty
        "107003":
          content: {}
          description: Order does not exist
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get order details
      tags:
      - Loopring DEX Restful API
    post:
      description: api.submitOrderV2.notes
      operationId: submitOrderV2V2
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SubmitOrderRequest'
        description: api.submitOrderV2.implicit.value
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOrderResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102002":
          content: {}
          description: Unsupported TokenId in the order
        "102003":
          content: {}
          description: Invalid account ID
        "102004":
          content: {}
          description: Invalid order ID
        "102005":
          content: {}
          description: Market does not support
        "102006":
          content: {}
          description: Illegal rate field
        "102007":
          content: {}
          description: Order already exists
        "102008":
          content: {}
          description: Order has expired
        "102010":
          content: {}
          description: Order is missing signature information
        "102011":
          content: {}
          description: Insufficient user balance
        "102012":
          content: {}
          description: The order amount is too small
        "102014":
          content: {}
          description: "Failed to freeze the amount, please try again later"
        "102020":
          content: {}
          description: Exceeded the maximum order amount
        "102027":
          content: {}
          description: Submit order failed
        "102120":
          content: {}
          description: Order is not valid
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
        "104004":
          content: {}
          description: No signature information provided
        "104005":
          content: {}
          description: Wrong signature information
      summary: api.submitOrderV2.value
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v2/batchOrders:
    post:
      description: Submit up to 10 orders as a batch.
      operationId: batchSubmitOrderV2
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchSubmitOrderRequest'
        description: Body of batch submit orders.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSubmitOrderResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
        "104209":
          content: {}
          description: Partial batch operation failed
      summary: Submit multiple orders
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v2/orders/byHash:
    delete:
      description: Cancel up to 10 orders by order hash.
      operationId: batchCancelOrdersByOrderHashV2
      parameters:
      - description: request.cancelOrders.accountId
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Hash of order to be canceled,separate multiple hashes with commas."
        example: "13375450901292179417154974849571793069911517354720397125027633242680470075859,13375450901292179417154974849571793069911517354720397125027633242680470075860"
        in: query
        name: orderHash
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCancelOrderResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
        "104209":
          content: {}
          description: Partial batch operation failed
      summary: Cancel multiple orders by hash
      tags:
      - Loopring DEX Restful API
  /api/v2/orders/byClientOrderId:
    delete:
      description: Cancel up to 10 orders by clientOrderId.
      operationId: batchCancelOrdersByClientOrderIdV2
      parameters:
      - description: request.cancelOrders.accountId
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: ClientOrderIds of orders to be cancelled.
        example: "20200318000000001010,20200318000000001011"
        in: query
        name: clientOrderId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCancelOrderResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
        "104209":
          content: {}
          description: Partial batch operation failed
      summary: Cancel multiple orders by clientOrderId
      tags:
      - Loopring DEX Restful API
  /api/v3/eth/sendTx:
    post:
      description: Relay a raw Ethereum transaction to Ethereum mainnet.
      operationId: sendTransactionV3
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ForwardEthTxRequest'
        description: Body of send raw transaction
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardEthTxResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104202":
          content: {}
          description: The current node service is not available
        "104205":
          content: {}
          description: Error in internal request
        "104208":
          content: {}
          description: Unknown error in Ethereum node
      summary: Send a raw Ethereum transaction
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v2/dualAuthTransfer:
    post:
      description: Submit dual authority transfer
      operationId: submitDualAuthTransferV2
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DualAuthTransferRequest'
        description: Submit dual authority transfer post message body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOffChainRequestResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
      summary: Submit dual authority transfer
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v3/reward:
    post:
      operationId: submitRewardV3
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v2/user/balances:
    get:
      description: Returns user's Ether and token balances on exchange.
      operationId: getUserBalancesV2
      parameters:
      - description: AccountID
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: Query tokens
        example: "0,1"
        in: query
        name: tokens
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserBalancesResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get user exchange balances
      tags:
      - Loopring DEX Restful API
  /api/v2/user/deposits:
    get:
      description: Returns a list of deposit records for the given user.
      operationId: getUserDepositsV2
      parameters:
      - description: "Account ID, some hash query APIs doesnt need it if in hash query\
          \ mode, check require flag of each API to see if its a must."
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: Start time in milliseconds
        example: 1578558098000
        in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - description: End time in milliseconds
        example: 1578558098000
        in: query
        name: end
        schema:
          default: 0
          format: int64
          type: integer
      - description: Comma separated status values
        example: "processing,processed"
        in: query
        name: status
        schema:
          enum:
          - processing
          - processed
          - received
          - failed
          type: string
      - description: Number of records to return
        example: 50
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      - description: "Token to filter. If you want to return deposit records for all\
          \ tokens, omit this parameter"
        example: ETH
        in: query
        name: tokenSymbol
        schema:
          type: string
      - description: Number of records to skip
        example: 1
        in: query
        name: offset
        schema:
          default: 0
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserDepositResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "107001":
          content: {}
          description: User ID cannot be empty
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get user deposit history
      tags:
      - Loopring DEX Restful API
  /api/v2/user/withdrawals:
    get:
      description: Get user onchain withdrawal history.
      operationId: getUserWithdrawalsV2
      parameters:
      - description: "Account ID, some hash query APIs doesnt need it if in hash query\
          \ mode, check require flag of each API to see if its a must."
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: Start time in milliseconds
        example: 1578558098000
        in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - description: End time in milliseconds
        example: 1578558098000
        in: query
        name: end
        schema:
          default: 0
          format: int64
          type: integer
      - description: Comma separated status values
        example: "processing,processed"
        in: query
        name: status
        schema:
          enum:
          - processing
          - processed
          - received
          - failed
          type: string
      - description: Number of records to return
        example: 50
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      - description: "Token to filter. If you want to return deposit records for all\
          \ tokens, omit this parameter"
        example: LRC
        in: query
        name: tokenSymbol
        schema:
          type: string
      - description: Number of records to skip
        example: 1
        in: query
        name: offset
        schema:
          default: 0
          format: int64
          type: integer
      - description: request.getUserTxs.withdrawalTypes
        example: force_withdrawal
        in: query
        name: withdrawalTypes
        schema:
          enum:
          - force_withdrawal
          - offchain_withdrawal
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserOnchainWithdrawalResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "107001":
          content: {}
          description: User ID cannot be empty
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get user onchain withdrawal history
      tags:
      - Loopring DEX Restful API
    post:
      description: Submit offchain withdraw request
      operationId: submitOffChainWithdrawalV2
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OffChainWithdrawalRequest'
        description: Submit offchain withdraw request post message body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOffChainRequestResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
      summary: Submit offchain withdraw request
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v2/user/transfers:
    get:
      description: Get user transfer list.
      operationId: getUserTransfersV2
      parameters:
      - description: "Account ID, some hash query APIs doesnt need it if in hash query\
          \ mode, check require flag of each API to see if its a must."
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: Start time in milliseconds
        example: 1578558098000
        in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - description: End time in milliseconds
        example: 1578558098000
        in: query
        name: end
        schema:
          default: 0
          format: int64
          type: integer
      - description: Comma separated status values
        example: "processing,processed"
        in: query
        name: status
        schema:
          enum:
          - processing
          - processed
          - received
          - failed
          type: string
      - description: Number of records to return
        example: 50
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      - description: "Token to filter. If you want to return deposit records for all\
          \ tokens, omit this parameter"
        example: LRC
        in: query
        name: tokenSymbol
        schema:
          type: string
      - description: Number of records to skip
        example: 1
        in: query
        name: offset
        schema:
          default: 0
          format: int64
          type: integer
      - description: request.getUserTxs.transferTypes
        example: "transfer, transfer_red"
        in: query
        name: transferTypes
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserTransferResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "107001":
          content: {}
          description: User ID cannot be empty
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get user transfer list
      tags:
      - Loopring DEX Restful API
  /api/v2/user/createInfo:
    get:
      description: Returns a list Ethereum transactions from users for exchange account
        registration.
      operationId: getUserCreateV2
      parameters:
      - description: "Account ID, some hash query APIs doesnt need it if in hash query\
          \ mode, check require flag of each API to see if its a must."
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: Start time in milliseconds
        example: 1578558098000
        in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - description: End time in milliseconds
        example: 1578558098000
        in: query
        name: end
        schema:
          default: 0
          format: int64
          type: integer
      - description: Comma separated status values
        example: "processing,processed"
        in: query
        name: status
        schema:
          enum:
          - processing
          - processed
          - received
          - failed
          type: string
      - description: Number of records to return
        example: 50
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      - description: Number of records to skip
        example: 1
        in: query
        name: offset
        schema:
          default: 0
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserCreateResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "107001":
          content: {}
          description: User ID cannot be empty
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get user registration transactions
      tags:
      - Loopring DEX Restful API
  /api/v2/user/updateInfo:
    get:
      description: Returns a list Ethereum transactions from users for resetting exchange
        passwords.
      operationId: getUserUpdateV2
      parameters:
      - description: "Account ID, some hash query APIs doesnt need it if in hash query\
          \ mode, check require flag of each API to see if its a must."
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: Start time in milliseconds
        example: 1578558098000
        in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - description: End time in milliseconds
        example: 1578558098000
        in: query
        name: end
        schema:
          default: 0
          format: int64
          type: integer
      - description: Comma separated status values
        example: "processing,processed"
        in: query
        name: status
        schema:
          enum:
          - processing
          - processed
          - received
          - failed
          type: string
      - description: Number of records to return
        example: 50
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      - description: Number of records to skip
        example: 1
        in: query
        name: offset
        schema:
          default: 0
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserAccountUpdateResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "107001":
          content: {}
          description: User ID cannot be empty
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get password reset transactions
      tags:
      - Loopring DEX Restful API
  /api/v2/user/trades:
    get:
      description: Get user trade history.
      operationId: getUserTradesV2
      parameters:
      - description: "Account ID, some hash query APIs doesnt need it if in hash query\
          \ mode, check require flag of each API to see if its a must."
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: Trading pair
        example: LRC-ETH
        in: query
        name: market
        schema:
          type: string
      - description: "If a value is provided, only returns the trades associated with\
          \ the given order"
        example: 0x9d114267e8b261457d567093c13cf3deea5f14c9235be26c6fa833dba12a9632
        in: query
        name: orderHash
        schema:
          type: string
      - description: Number of records to skip
        example: 1
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: Number of records to return
        example: 50
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      - description: Pagination of data to return records earlier than the requested
          ID
        example: 1
        in: query
        name: fromId
        schema:
          default: 0
          format: int64
          type: integer
      - description: request.getUserTrades.fillTypes
        example: dex
        in: query
        name: fillTypes
        schema:
          enum:
          - dex
          - amm
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserTradesResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Get user trade history
      tags:
      - Loopring DEX Restful API
  /api/v2/user/orderFee:
    get:
      description: Returns the fee rate of users placing orders in specific markets
      operationId: getUserFeeRates2V2
      parameters:
      - description: Account ID
        example: 1
        in: query
        name: accountId
        required: true
        schema:
          format: int32
          type: integer
      - description: "List of markets to be queried separated by \",\""
        example: LRC-ETH
        in: query
        name: market
        required: true
        schema:
          type: string
      - description: Token ID
        example: 0
        in: query
        name: tokenB
        required: true
        schema:
          format: int32
          type: integer
      - description: Amount to buy
        example: "10000000000000000"
        in: query
        name: amountB
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserFeeRates2Request'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Query user place order fee rate
      tags:
      - Loopring DEX Restful API
  /api/v2/user/orderAmount:
    get:
      description: Returns the minimum amount
      operationId: getOrderAmountV2
      parameters:
      - in: query
        name: tokenSymbol
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderAmountResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Query current token minimum amount to place order
      tags:
      - Loopring DEX Restful API
  /api/v2/user/orderUserRateAmount:
    get:
      description: Returns the minimum amount
      operationId: getOrderUserRateAmountV2
      parameters:
      - in: query
        name: accountId
        schema:
          format: int64
          type: integer
      - in: query
        name: market
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderGroupAmountResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Query current token minimum amount to place order
      tags:
      - Loopring DEX Restful API
  /api/v3/user/bills:
    get:
      operationId: getUserBillV3
      parameters:
      - in: query
        name: accountId
        schema:
          format: int32
          type: integer
      - in: query
        name: billType
        schema:
          type: string
      - in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - in: query
        name: end
        schema:
          default: 0
          format: int64
          type: integer
      - in: query
        name: limit
        schema:
          default: 20
          format: int32
          type: integer
      - in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - in: query
        name: tokenId
        schema:
          default: -1
          format: int32
          type: integer
      - in: query
        name: income
        schema:
          default: false
          type: boolean
      - in: query
        name: transferAddress
        schema:
          type: string
      - in: query
        name: fromAddress
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/user/financeIncome:
    get:
      operationId: getFinanceIncomeV3
      parameters:
      - in: query
        name: address
        schema:
          type: string
      - in: query
        name: financeType
        schema:
          type: string
      - in: query
        name: tokenAddress
        schema:
          type: string
      - in: query
        name: offset
        schema:
          default: 0
          format: int64
          type: integer
      - in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/crawl:
    get:
      operationId: crawlSiteV3
      parameters:
      - in: query
        name: site
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v2/crawlPriceFromBinance:
    get:
      operationId: crawlPriceFromBinanceV2
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v2/mix/markets:
    get:
      description: Returns the configurations of all supported markets (trading pairs)
      operationId: getMixedMarketsV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMixedMarketInfoResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get market configurations
      tags:
      - Loopring DEX Restful API
  /api/v2/exchange/info:
    get:
      description: Return various configurations of Loopring.io
      operationId: getExchangeInfoV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeInfoResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get exchange configurations
      tags:
      - Loopring DEX Restful API
  /api/v2/exchange/feeInfo:
    get:
      description: Return various configurations of Loopring.io
      operationId: getExchangeFeeInfoV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeFeeInfoResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get exchange configurations
      tags:
      - Loopring DEX Restful API
  /api/v3/exchange/withdrawalAgents:
    get:
      description: api.getWithdrawalAgents.notes
      operationId: getWithdrawalAgentsV3
      parameters:
      - in: query
        name: tokenId
        schema:
          format: int32
          type: integer
      - in: query
        name: amount
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentInfo'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: api.getWithdrawalAgents.value
      tags:
      - Loopring DEX Restful API
  /api/v3/refer:
    post:
      operationId: setReferrerV3
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/liquidityMining:
    get:
      operationId: getLiquidityMiningRewardsV3
      parameters:
      - in: query
        name: accountId
        schema:
          format: int64
          type: integer
      - in: query
        name: market
        schema:
          type: string
      - in: query
        name: start
        schema:
          default: 0
          format: int64
          type: integer
      - in: query
        name: timestamp
        schema:
          format: int64
          type: integer
      - in: query
        name: size
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/liquidityMiningTotal:
    get:
      operationId: getLiquidityMiningRewardTotalV3
      parameters:
      - in: query
        name: accountId
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/liquidityMiningRank:
    get:
      operationId: getLiquidityMiningRankV3
      parameters:
      - in: query
        name: market
        schema:
          type: string
      - in: query
        name: top
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/liquidityMiningConf:
    get:
      operationId: getLiquidityMiningConfV3
      parameters:
      - in: query
        name: market
        schema:
          type: string
      - in: query
        name: running
        schema:
          default: false
          type: boolean
      - in: query
        name: pageIndex
        schema:
          format: int32
          type: integer
      - in: query
        name: size
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/activityRules:
    get:
      operationId: getActivityRulesV3
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/commissionReward:
    get:
      operationId: getCommissionRewardV3
      parameters:
      - in: query
        name: accountId
        schema:
          format: int64
          type: integer
      - in: query
        name: tokenId
        schema:
          format: int32
          type: integer
      - in: query
        name: start
        schema:
          format: int64
          type: integer
      - in: query
        name: size
        schema:
          format: int32
          type: integer
      - in: query
        name: rewardType
        schema:
          format: int32
          type: integer
      - in: query
        name: taker
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/commissionRewardTotal:
    get:
      operationId: getCommissionTotalRewardV3
      parameters:
      - in: query
        name: accountId
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/commissionRewardRank:
    get:
      operationId: getCommissionRewardRankV3
      parameters:
      - in: query
        name: tokenId
        schema:
          format: int32
          type: integer
      - in: query
        name: top
        schema:
          format: int32
          type: integer
      - in: query
        name: rewardType
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/profitShareReward:
    get:
      operationId: getProfitSharingStatusV3
      parameters:
      - in: query
        name: accountId
        schema:
          format: int64
          type: integer
      - in: query
        name: tokenId
        schema:
          format: int32
          type: integer
      - in: query
        name: start
        schema:
          format: int64
          type: integer
      - in: query
        name: size
        schema:
          format: int32
          type: integer
      - in: query
        name: rewardType
        schema:
          format: int32
          type: integer
      - in: query
        name: taker
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/sidecar/liquidityMiningUserHistory:
    get:
      operationId: getLiquidityMiningUserHistoryV3
      parameters:
      - in: query
        name: accountId
        schema:
          format: int64
          type: integer
      - in: query
        name: markets
        schema:
          type: string
      - in: query
        name: start
        schema:
          format: int64
          type: integer
      - in: query
        name: end
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/verifyAllEcdsa:
    post:
      operationId: verifyAllEcdsaV3
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/spi/tokenInfo:
    get:
      description: api.getTokenInfo.notes
      operationId: getTokenInfoV3
      parameters:
      - description: token address to be queried
        example: ETH
        in: query
        name: tokenAddress
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserBalancesResponseV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: api.getTokenInfo.value
      tags:
      - Loopring DEX Restful API
  /api/v3/spi/getAccountServices:
    get:
      operationId: getAccountServicesV3
      parameters:
      - in: query
        name: phone
        schema:
          type: string
      - in: query
        name: email
        schema:
          type: string
      - in: query
        name: wallet
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/hebao/refundPay:
    post:
      operationId: refundHebaoPayV3Hebao
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/hebao/preparePay:
    post:
      operationId: prepareHebaoPayV3Hebao
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/hebao/confirmPay:
    post:
      operationId: confirmHebaoPayV3Hebao
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/hebao/openAccount:
    post:
      operationId: openHebaoAccountV3Hebao
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v2/token/decimal:
    get:
      operationId: getTokenDecimalV2
      parameters:
      - description: token address to be queried
        example: "0x0000000000000000000000000000000000000000,0x0000000000000000000000000000000000000001"
        in: query
        name: tokenAddresses
        required: true
        schema:
          type: string
      - description: network
        example: ETHEREUM or ARBITRUM
        in: query
        name: network
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v2/token/metadata:
    get:
      operationId: searchTokenMetadataV2
      parameters:
      - description: token address to be queried
        example: "0x0000000000000000000000000000000000000000,0x0000000000000000000000000000000000000001"
        in: query
        name: tokenAddresses
        required: true
        schema:
          type: string
      - description: network
        example: ETHEREUM or ARBITRUM
        in: query
        name: network
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v2/currencyRates:
    get:
      operationId: getCurrencyRatesV2
      parameters:
      - description: Currency symbol to be queried
        example: "USD,CNY"
        in: query
        name: currencies
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v2/tokens/metadata:
    get:
      operationId: tokenMetadatasV2
      parameters:
      - in: query
        name: network
        schema:
          type: string
      - in: query
        name: offset
        schema:
          format: int64
          type: integer
      - in: query
        name: limit
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v2/tokens/search:
    get:
      operationId: searchTokenV2
      parameters:
      - in: query
        name: network
        schema:
          type: string
      - in: query
        name: key
        schema:
          type: string
      - in: query
        name: offset
        schema:
          format: int64
          type: integer
      - in: query
        name: limit
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/game/rank:
    get:
      operationId: getTournamentRankV3
      parameters:
      - in: query
        name: ammPoolMarket
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/game/user/rank:
    get:
      operationId: getUserTournamentRankV3
      parameters:
      - in: query
        name: owner
        schema:
          type: string
      - in: query
        name: ammPoolMarket
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/eth/recommendedGasPriceRange:
    get:
      description: Get recommended gas price in Gwei.
      operationId: getRecommendedGasPriceRangeV3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecommendedGasPriceResponseRangeV2'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "105001":
          content: {}
          description: Failed to get recommended gas
      summary: Get recommended gas price
      tags:
      - Loopring DEX Restful API
  /v3/ws:
    get:
      operationId: wsV3
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebSocket'
          description: successful operation
      tags:
      - LightCone WebSocket API
  /v2/ws/key:
    get:
      operationId: getWsKeyV2
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - LightCone WebSocket API
  /v3/ws/key:
    get:
      operationId: getWsKeyV3V3
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - LightCone WebSocket API
  /api/v3/nft/mint:
    post:
      description: Mint a NFT token in Loopring L2
      operationId: submitMintNftV3
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SubmitNftMintRequest'
        description: Mint a NFT token in Loopring L2
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitMintNftResponseItem'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
        "108003":
          content: {}
          description: code.108003
      summary: Mint a NFT token in Loopring L2
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v3/nft/transfer:
    post:
      description: api.submitNftTransfer.notes
      operationId: submitNftTransferV3
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NftTransferRequest'
        description: api.submitNftTransfer.implicit.value
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOffChainRequestItem'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
      summary: Submit internal NFT transfer
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v3/nft/validateOrder:
    post:
      description: Validate a NFT order
      operationId: validateNftOrderV3
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SubmitNftOrderRequestV3'
        description: Validate a NFT order
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOffChainRequestItem'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
      summary: Validate a NFT order
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v3/nft/trade:
    post:
      description: Settle down an NFT trade which has two matched orders
      operationId: submitNftTradeV3
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SubmitNftTradeRequestV3'
        description: Settle down an NFT trade which has two matched orders
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftTradeResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
      summary: Settle down an NFT trade which has two matched orders
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v3/nft/withdrawal:
    post:
      description: Withdraw a NFT token
      operationId: submitOffChainNftWithdrawalV3
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NftOffChainWithdrawalRequestV3'
        description: Withdraw a NFT token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOffChainRequestItem'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
      summary: Withdraw a NFT token
      tags:
      - Loopring DEX Restful API
      x-codegen-request-body-name: body
  /api/v3/nft/deployTokenAddress:
    post:
      operationId: deployTokenAddressV3
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/nft/info/nfts:
    get:
      description: Query NFT info by looprings nftData
      operationId: getNftsInfoV3
      parameters:
      - description: The Loopring's NFT token data identifier which is a hash string
          of NFT token address and NFT_ID
        example: "0xf7c932351186c3a9053f313eefa16209c018f7f1dba8aa8ca7100400f7c31085,0xc3a9053f313eef7c932351ca7100400f7c186fa16209c018f7f1dba8aa831085"
        in: query
        name: nftDatas
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftTokenInfo'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: Query NFT info by looprings nftData
      tags:
      - Loopring DEX Restful API
  /api/v3/nft/info/nftData:
    get:
      description: "Query nftDatas by minter, tokenAddress and nftID."
      operationId: getNftDataV3
      parameters:
      - description: The minters accountId.
        example: "10001"
        in: query
        name: minter
        required: true
        schema:
          type: string
      - description: The NFT token address
        example: 0xbbbbca6a901c926f240b89eacb641d8aec7aeafd
        in: query
        name: tokenAddress
        required: true
        schema:
          type: string
      - description: The NFT_ID of the NFT token
        example: 0x01
        in: query
        name: nftId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftTokenInfo'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "104001":
          content: {}
          description: Empty ApiKey
        "104002":
          content: {}
          description: Invalid ApiKey
        "104003":
          content: {}
          description: Invalid Account ID
      summary: "Query nftDatas by minter, tokenAddress and nftID."
      tags:
      - Loopring DEX Restful API
  /api/v3/nft/info/nftHolders:
    get:
      description: Query NFT holders by looprings nftData
      operationId: getNftHoldersV3
      parameters:
      - description: The Loopring's NFT token data identifier which is a hash string
          of NFT token address and NFT_ID
        example: 0xf7c932351186c3a9053f313eefa16209c018f7f1dba8aa8ca7100400f7c31085
        in: query
        name: nftData
        required: true
        schema:
          type: string
      - description: Number of records to skip
        example: 0
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: Number of records to return
        example: 100
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftHolders'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
        "100001":
          content: {}
          description: Invalid argument
        "102001":
          content: {}
          description: Exchange ID is incorrect
        "102021":
          content: {}
          description: Nonce is invalid
        "102022":
          content: {}
          description: Transfer sender is invalid
        "102023":
          content: {}
          description: Transfer receiver is invalid
        "102024":
          content: {}
          description: Fee token is unsupported
        "102025":
          content: {}
          description: Transfer token isnt consistent with fee token
      summary: Query NFT holders by looprings nftData
      tags:
      - Loopring DEX Restful API
  /api/v3/nft/info/orderUserRateAmount:
    get:
      description: "minAmount is the minFee under the basic feeRate of the user, tradeCosts\
        \ is the cost of L2 trade settlement, also it returns the market order requirements:\
        \ the min/max order amount. So an valid order should meet these 3 requirements:.1.\
        \ order.maxFeeBips >= feeRate.rate and order.amount >= minAmounts.2. order.amount\
        \ * order.maxFeeBips > tradeCosts if order.amount < minAmounts.3. marketOrderInfo.min\
        \ <= order.amount <= marketOrderInfo.max.These amounts change according to\
        \ ETH gas price and get refreshed every 15 mins."
      operationId: getNftOrderUserRateAmountV3
      parameters:
      - description: "Account ID, some hash query APIs doesnt need it if in hash query\
          \ mode, check require flag of each API to see if its a must."
        example: 10086
        in: query
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
      - description: NFT token address of order
        example: 0xbbbbca6a901c926f240b89eacb641d8aec7aeafd
        in: query
        name: nftTokenAddress
        required: true
        schema:
          type: string
      - description: Fee token symbol
        example: ETH
        in: query
        name: feeTokenSymbol
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserNftOrderRatesAmountsResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Query current token minimum amount to place order based on users VIP
        level and max fee bips
      tags:
      - Loopring DEX Restful API
  /api/v3/nft/info/minters:
    get:
      description: Filtered by channel and auth contract address
      operationId: getNftMintersV3
      parameters:
      - description: "channel id, if you dont know your channel id, please contact\
          \ with Loopring team."
        example: 1
        in: query
        name: channel
        required: true
        schema:
          format: int32
          type: integer
      - description: auth contract address
        in: query
        name: authContractAddress
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNftMintersResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get minters
      tags:
      - Loopring DEX Restful API
  /api/v3/nft/info/nftTokenAddresses:
    get:
      description: Filtered by channel and auth contract address
      operationId: getNftTokenAddressesV3
      parameters:
      - description: "channel id, if you dont know your channel id, please contact\
          \ with Loopring team."
        example: 1
        in: query
        name: channel
        required: true
        schema:
          format: int32
          type: integer
      - description: auth contract address
        in: query
        name: authContractAddress
        schema:
          type: string
      - description: "amount to skip(default: 0)"
        example: 0
        in: query
        name: offset
        schema:
          default: 0
          format: int64
          type: integer
      - description: "Max amount of token addresses to return(default: 500)"
        example: 100
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNftTokenAddressesResponse'
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: Get Nft token addresses
      tags:
      - Loopring DEX Restful API
  /api/v3/nft/info/canMint:
    get:
      description: "true if authorized, false otherwise."
      operationId: canMintV3
      parameters:
      - description: minter address
        in: query
        name: minter
        required: true
        schema:
          type: string
      - description: nft token address
        in: query
        name: nftTokenAddress
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
          description: successful operation
        "100000":
          content: {}
          description: Unknown error
      summary: check if a minter is authorized on a nft token contract
      tags:
      - Loopring DEX Restful API
  /api/v3/nft/info/computeTokenAddress:
    get:
      operationId: computeTokenAddressV3
      parameters:
      - in: query
        name: nftFactory
        schema:
          type: string
      - in: query
        name: nftOwner
        schema:
          type: string
      - description: request.computeTokenAddress.nftBaseUri
        in: query
        name: nftBaseUri
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActionAnyContent'
          description: successful operation
      tags:
      - Loopring DEX Restful API
  /api/v3/user/nft/balances:
    get:
      description: "Get users NFT balance, besides amount, it also includes tokenId\
        \ and nftData"
      operationId: getUserNftBalancesV3
      parameters:
      - description: AccountID
        example: 10001
        in: query
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
      - description: The Loopring's NFT token data identifier which is a hash string
          of NFT token address and NFT_ID
        example: "0xf7c932351186c3a9053f313eefa16209c018f7f1dba8aa8ca7100400f7c31085,0xc3a9053f313eef7c932351ca7100400f7c186fa16209c018f7f1dba8aa831085"
        in: query
        name: nftDatas
        schema:
          type: string
      - description: NFT token address
        example: "0xf7c932351186c3a9053f313eefa16209c018f7f1dba8aa8ca7100400f7c31085,0xc3a9053f313eef7c932351ca7100400f7c186fa16209c018f7f1dba8aa831085"
        in: query
        name: tokenAddrs
        schema:
          type: string
      - description: The token slot ID in loopring DEX.
        example: "32768,32769,32770"
        in: query
        name: tokenIds
        schema:
          type: string
      - description: Number of records to skip
        example: 12345
        in: query
        name: offset
        schema:
          default: 0
          format: int64
          type: integer
      - description: Number of records to return
        example: 20
        in: query
        name: limit
        schema:
          default: 0
          format: int32
          type: integer
[...]
